/* ======================================*/
/* ========== Common CSS Start ==========*/
/* ======================================*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
}

body {
    background: #000000;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #FFFFFF;
}

img {
    width: 100%;
    max-width: 100%;
}

.container {
    width: 1320px;
    margin: 0 auto;
}

/* ======================================*/
/* =========== Common CSS END ===========*/
/* ======================================*/



/* ======================================*/
/* ========= NavBar Part Start =========-*/
/* ======================================*/
#nav-menu {
    padding: 30px 0;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu ul {
    display: flex;
    gap: 60px;
}

.nav-menu ul a {
    text-transform: capitalize;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    transition: all linear .3s;
}

.nav-menu ul a:hover {
    color: #000000;
}

/* ===================================== */
/* ========== NavBar Part End ========== */
/* =====================================  */



/* ======================================*/
/* ========= Banner Part Start =========-*/
/* ======================================*/
#Banner {
    background-image: url("../Images/Banner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 440px 0px;
}

.Banner-text h2 {
    width: 514.86px;
    color: #FFC178;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    letter-spacing: 7px;
}

.Banner-text h1 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 96px;
}

.Banner-text h1 span {
    font-weight: 400;
    font-size: 88px;
    display: block;
}

/* ===================================== */
/* ========== Banner Part End ========== */
/* ===================================== */



/* ======================================= */
/* ========= Culture Part Start ========== */
/* ======================================= */
#Culture {
    padding: 260.36px 0px;
    color: #FFFFFF;
}

.Culture-row {
    display: flex;
    gap: 140px;
    align-items: center;
}

.Culture-img {
    width: 582px;
}

.Culture-text {
    width: 600px;
}

.Culture-text h3 {
    color: #FBD784;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 6px;
}

.Culture-text h2 {
    font-weight: 700;
    font-size: 64px;
    margin: 20px 0;
    width: 663px;
}

.Culture-text p {
    font-weight: 600;
    font-size: 14px;
    line-height: 32px;
}

.Culture-text a {
    margin-top: 66.19px;
    font-weight: 700;
    font-size: 18px;
    color: #FBD784;
    transition: 0.3s linear;
}

.Culture-text a:hover {
    color: #fbd784b4;
}

/* ===================================== */
/* ========== Culture Part End ========= */
/* ===================================== */



/* ===================================== */
/* ========== Bromo Part Start ========= */
/* ===================================== */
#Bromo {
    margin-bottom: 260px;
}

.Bromo-row {
    background-image: url("../Images/Bromo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #FFFFFF;
}

.Bromo-text {
    padding: 560px 194px 33px 194px;
    margin: auto;
}

.Bromo-text h3 {
    color: #FBD784;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 6px;

}

.Bromo-text h2 {
    padding: 14px 0px;
    font-weight: 700;
    font-size: 64px;

}

.Bromo-text p {
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
}

.Bromo-text a {
    margin: 26px 0px 32px 0;
    color: #FBD784;
    font-weight: 700;
    font-size: 18px;
    transition: 0.3s linear;
}

.Bromo-text a:hover {
    color: #fbd784b4;
}

/* ===================================== */
/* =========== Bromo Part End ========== */
/* ===================================== */



/* ===================================== */
/* ========= Explore Part Start ======== */
/* ===================================== */
.Explore-img {
    display: flex;
    justify-content: space-between;
}

.Explore-item {
    position: relative;
    overflow: hidden;
}

.Explore-text {
    position: absolute;
    background-color: black;
    opacity: 60%;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.4s linear;
}

.Explore-item:hover .Explore-text {
    top: 0%;
}

.Explore-text h5 {
    padding-top: 162px;
    color: #FFC178;
    font-size: 18px;
    letter-spacing: 7px;
    font-weight: bold;
}

.Explore-text p {
    padding: 40px 50px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
}

.Explore-text a {
    padding-bottom: 56px;
    color: #FFA343;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.3px;
}

.Explore-text a:hover {
    color: #fbd784b4;
}

/* ===================================== */
/* ========== Explore Part End ========= */
/* ===================================== */



/* ===================================== */
/* ======= INDONESIAN Part Start ======= */
/* ===================================== */
#Indonesian {
    margin: 260px 0px;
    color: #FFFFFF;
}

.Indonesian-menu {
    display: flex;
    align-items: center;
    gap: 60px;
}

.Indonesian-text {
    width: 634px;
}

.Indonesian-text h5 {
    color: #FBD784;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 6px;
    padding-bottom: 19px;
}

.Indonesian-text h2 {
    font-size: 64px;
    font-weight: bold;
}

.Indonesian-text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    width: 655px;
    padding: 19px 0px 47px 0px;
}

.Indonesian-text a {
    color: #FBD784;
    font-size: 18px;
    font-weight: bold;
}

.Indonesian-text a:hover {
    color: #fbd784b4;
}

/* ===================================== */
/* ======== INDONESIAN Part End ======== */
/* ===================================== */



/* ===================================== */
/* ========= Footer Part Start ========= */
/* ===================================== */
footer {
    color: #FFFFFF;
    margin-bottom: 26px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-top h4 {
    font-weight: 400;
    font-size: 22px;
    letter-spacing: -0.3px;
    text-transform: capitalize;
}

.footer-top-right {
    display: flex;
    align-items: center;
    gap: 26.13px;
}

.btn {
    padding: 19.35px 67.34px;
    background-color: #FFA343;
    color: #000000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;

}

.footer-middle {
    display: flex;
    justify-content: space-between;
    margin-top: 101px;
}

.footer-left h2 {
    width: 407px;
    font-size: 36px;
    font-weight: bold;
    line-height: -0.3px;
    text-transform: capitalize;
}

.middle-right {
    display: flex;
    gap: 112px;
}

.footer-column h3 {
    color: #FFD1A0;
    font-size: 20px;
    font-weight: bold;
    line-height: -0.23px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.footer-column ul li a {
    text-transform: capitalize;
    font-size: 15px;
    transition: 0.3s linear;
    margin-bottom: 12px;
}

.footer-column ul li a:hover {
    color: #f3c669;
}

.footer-end {
    margin: 35px 0px 100px 0px;
    display: flex;
    justify-content: space-between;
}

.footer-end .icons {
    display: flex;
    gap: 29.15px;
    cursor: pointer;
}

.footer-end h6 {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.2px;
    text-transform: capitalize;
}

.Copyright {
    text-align: center;
    font-size: 18px;
    line-height: 32px;
    font-weight: 100;
    margin-bottom: 64px;
}

/* ===================================== */
/* ========== Footer Part End ========== */
/* ===================================== */